body {
  background-color:#4BB499;
  
}

h2 {
    color: #A73F38;
    font-size: 50px;
    letter-spacing: 5px;
    text-shadow: 2px 2px;
    text-decoration-line: overline;
    text-decoration-line: overline underline;
}
h2:hover {
  font-size: 60px;
}

img {
  width:300px;
  border-radius: 10px;
  border: 5px solid blue;
}
img:hover {
  width:350px;

}  
